<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Create Ticket</title>
</head>
<body>
  <div class="container">
  
    
    <h2>Create New Ticket (customer)</h2>

    <form action="/ticket/create" method="POST" class="ticket-form">
      <label>
        Title:
        <input type="text" name="title" required />
      </label>

      <label>
        Description:
        <textarea name="description"></textarea>
      </label>

      <label>
        Category:
        <select name="category">
          <option value="Bug">Bug</option>
          <option value="Feature Request">Feature Request</option>
          <option value="General">General</option>
        </select>
      </label>

      <button type="submit" class="submit-btn">Create Ticket</button>
    </form>

    <form action="/auth/logout" method="POST" class="logout-form">
      <button type="submit" class="logout-btn">Logout</button>
    </form>
  </div>
</body>
</html>
